# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/

# Logs
*.log

# Dependency directories
node_modules/

# Environment files
.env

# Temporary files
*.tmp
*.temp
